@model SUSL_Medical_Center.tb_drugs

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tb_drugs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.drug_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drug_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drug_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drug_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.drug_availabale_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.drug_availabale_qty)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.drug_code }) |
    @Html.ActionLink("Back to List", "Index")
</p>
