@model IEnumerable<SUSL_Medical_Center.tb_drugs>

@{
    ViewBag.Title = "Drug Records";
}

<h2 style="color:#333; padding-top:20px">Drug Records</h2>

<div style="text-align:right">
    <p>
        <a class="btn btn-theme" href="./Drugs/Create">
            <span class="glyphicon glyphicon-user">&nbsp;</span>CREATE
        </a>

    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Drug Code", "Index", new { sortOrder = ViewBag.CodeSortParm })
        </th>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            Available Quantity 
        </th>
        <th></th>
    </tr>


@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.drug_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drug_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drug_availabale_qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.drug_code }) |
            @Html.ActionLink("Details", "Details", new { id=item.drug_code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.drug_code })
        </td>
    </tr>
}

</table>
