@model IEnumerable<SUSL_Medical_Center.tb_drugs>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.drug_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drug_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.drug_availabale_qty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.drug_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drug_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.drug_availabale_qty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.drug_code }) |
            @Html.ActionLink("Details", "Details", new { id=item.drug_code }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.drug_code })
        </td>
    </tr>
}

</table>
