@model IEnumerable<SUSL_Medical_Center.tb_student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            Registration Number
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Date of Birth
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.stu_reg_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stu_first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stu_last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stu_dob)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.stu_reg_number }) |
                @Html.ActionLink("Details", "Details", new { id = item.stu_reg_number }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.stu_reg_number })
            </td>
        </tr>
    }

</table>







<!--div ng-app="stuApp">
    <div ng-controller="stuctrl">
        <table class="table table-bordered">
            <tr>
                <th>
                    col_one
                </th>
                <th>
                    col_second
                </th>
                <th>
                    col_three
                </th>
                <th>
                    col_four
                </th>
            </tr>
            <tr ng-repeat="astu in stuScope">
                <td>{{astu.stu_id}}</td>
                <td>{{astu.stu_reg_number}}</td>
                <td>{{astu.stu_first_name}}</td>
                <td>{{astu.stu_last_name}}</td>
            </tr>
        </table>
    </div>
</!--div-->

@*section scripts{
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/app/stuController.js"></script>
    }
*@
